@model ThalesDotNetTest.Models.Employee

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employee_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employee_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employee_salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employee_salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnualSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnualSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employee_age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employee_age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profile_image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profile_image)
        </dd>
    </dl>
</div>
<div>    
    <a asp-action="Index">Back to List</a>
</div>
