@model IEnumerable<ThalesDotNetTest.Models.Employee>

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees</h1>

<form asp-controller="Employee" asp-action="Index" method="get">
    <p>
        Employer Id: <input type="text" name="searchId"/>
        <input class="btn btn-outline-primary" type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee_age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnualSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profile_image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee_salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee_age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnualSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.profile_image)
            </td>
            <td>
                @Html.ActionLink("Details", "GetEmployeeById", new { id=item.id  }) 
            </td>
        </tr>
}
    </tbody>
</table>
